<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Clark - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <partial name="Partials/_PageStyles"></partial>
    @await RenderSectionAsync("Styles", required: false)
</head>
<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">


    <partial name="Partials/_Navbar"></partial>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <partial name="Partials/_Footer"></partial>


    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>

    <partial name="Partials/_PageScripts"></partial>
    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>